<!DOCTYPE html>
<html>
<head>
    <title>Zmanim and Weather</title>

    <!-- google fonts stylesheet and connection -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel = "stylesheet" href = "./static/styles.css">
    <script src= "/static/jquery-3.7.1.min.js"></script>    
</head>
<body>
    <header>
        
        <div id="loggedInInfo">
            {% if user %}
            <p id="loggedIn">        
                <img src="{{ user['picture'] }}" alt="User Picture" style="width: 50px; height: 50px; border-radius: 50%; vertical-align: middle;"><br>
                Hello, {{ user['name'] }}! <br><a href="/logout">Logout</a></p>
                {% else %}
                <p id="loggedIn">Welcome!<br> <a href="/login">Login with Google</a></p>
                {% endif %}
        </div>
        <h1 id="locationTitle">Zmanim and Weather For Your Location</h1>
            
            
    </header>
    <p>Enter a zip code and date to find accurate zmanim and weather information for your location.</p>

    <form id="userInput">
        <input type="text" placeholder="Enter zip code" id="userLocationInput">
        <input type="date" id="dateEntry" name="dateEntry">
        <button type="submit" id="locationSearch">Search</button>
    </form>

    <div id="testget"></div>

    <div class = "results">
        <div id="locationHeader">
            <h2 id="location"></h2>
        </div>
        <div id="weatherResults"></div>

        <div id="zmanimResults"> </div>
    </div>


    <script>
        $(document).ready(function() {
            $(".results").hide();
            $("#weatherInfo").hide();
            $("#zmanimInfo").hide();

            $("#locationSearch").click(function(event) {
                event.preventDefault(); // avoiding default for button press
                
                var zipCode = $("#userLocationInput").val();
                var date = $("#dateEntry").val();
                
                // check if inputs are filled
                if(zipCode != "" || date != "") {
                    $(".results").show(); // displaying the results
                    // try to get all together
                    $.ajax({
                        url: '/get_weather_and_zmanim',
                        type: 'GET',
                        data: {
                            zipCode: zipCode,
                            date: date
                        },
                        dataType: 'json',
                        success: function(data) {
                            alert('received')  
                            updateLocation(data.location);
                            updateZmanim(data.zmanim);
                            checkIfUpdateWeather(data.weather);
                        },
                        error: function(error) {
                            console.error('Error fetching Zmanim data:', error);
                        }
                    });

                    // // send ajax request to get zmanim
                    // $.ajax({
                    //     url: '/get_zmanim',
                    //     type: 'GET',
                    //     data: {
                    //         zipCode: zipCode,
                    //         date: date
                    //     },
                    //     dataType: 'json',
                    //     success: function(data) {
                    //         // print zmanim data
                    //         updateZmanim(data);  
                    //     },
                    //     error: function(error) {
                    //         console.error('Error fetching Zmanim data:', error);
                    //     }
                    // });

                    // // send ajax request to get weather 
                    // $.ajax({
                    //     url: '/get_weather',
                    //     type: 'GET',
                    //     data: {  // Send zip code and date as data
                    //         zipCode: zipCode,
                    //         date: date
                    //     },
                    //     dataType: 'json',
                    //     success: function(data) {
                    //         if (Object.keys(data).length > 0) {
                    //             // Process the weather data
                    //             updateWeather(data);
                    //         } else {
                    //             $("#weatherResults").hide();
                    //         }
                                                
                    //     },
                    //     error: function(error) {
                    //         console.error('Error fetching weather data:', error);
                    //     }
                    // });

                    // // get location information
                    // $.ajax({
                    //     url:'/process_location',
                    //     type: 'GET', 
                    //     dataType:'json',
                    //     data: {
                    //         zipCode: zipCode
                    //     },
                    //     success: function(data) {
                    //         var city = data.city;
                    //         var state = data.state;
                    //         var zipCode = data.zip_code;
                    //         var timeZoneCode = data.time_zone_code;
                    //         $("#locationTitle").text("Zmanim and Weather for " + city + ", " + state + " " +
                    //         zipCode + " (" + timeZoneCode + ")");
                    //     }
                    // });
                } else {
                    alert("Please enter valid date and location.");
                }
            });
        });

        function updateLocation(data) {
            var city = data.city;
            var state = data.state;
            var zipCode = data.zip_code;
            var timeZoneCode = data.time_zone_code;
            $("#locationTitle").text("Zmanim and Weather for " + city + ", " + state + " " +
            zipCode + " (" + timeZoneCode + ")");
        }

        function checkIfUpdateWeather(data) {
            if (Object.keys(data).length > 0) {
                // Process the weather data
                updateWeather(data);
            } else {
                $("#weatherResults").hide();
            }
        }

        function updateWeather(data){
            // make it visible
            $("#weatherInfo").show();
            //loop through each day's data
            for (const day in data) {
                const dayData = data[day];
                var date = dayData.Date;
                var hasPrecipitation = dayData.Day.hasPrecipitation;
                var comment = dayData.Day.IconPhrase;
                var maxTemp = dayData.Temperature.Maximum.Value + "° " + dayData.Temperature.Maximum.Unit;
                var minTemp = dayData.Temperature.Minimum.Value + "° " + dayData.Temperature.Minimum.Unit;

                const output = `
                    <h3>Weather for ${date}</h3>
                    ${comment}<br>
                    Precipitation: ${hasPrecipitation ? 'Yes' : 'No'} <br>
                    High Temperature: ${maxTemp}<br>
                    Low Temperature: ${minTemp}<br>
                `
                $("#weatherResults").html($("#weatherResults").html()+ output + "<br>");

            }
        }

        function updateZmanim(data) {
            // make it visible
            $("#zmanimInfo").show();

            var day = data.dayOfWeek;
            var hebDate = data.hebDateString;
            var engDate = data.engDateString;
            var dafYomi = data.dafYomi.masechta + ", daf " + data.dafYomi.daf;
            var alos = data.zmanim.alos_ma;
            var talis = data.zmanim.talis_ma;
            var sunrise = data.zmanim.sunrise;
            var szsMA = data.zmanim.sof_zman_shema_ma;
            var szsGra = data.zmanim.sof_zman_shema_gra;
            var sztMA = data.zmanim.sof_zman_tefila_ma;
            var sztGra = data.zmanim.sof_zman_tefila_gra;
            var chatzos = data.zmanim.chatzos;
            var minchaGedola = data.zmanim.mincha_gedola_ma;
            var minchaKetana = data.zmanim.mincha_ketana_gra;
            var plagHamincha = data.zmanim.plag_mincha_ma;
            var shkia = data.zmanim.sunset;
            var degrees595 = data.zmanim.tzeis_595_degrees;
            var min42 = data.zmanim.tzeis_42_minutes;
            var degrees850 = data.zmanim.tzeis_850_degrees;
            var min72 = data.zmanim.tzeis_72_minutes;

            var parsha = data.parsha_shabbos;
            var shabbosCandleLighting = data.candle_lighting_shabbos;

            const output = `
                <h3>Zmanim for ${day}, ${hebDate} / ${engDate}</h3>
                Daf Yomi: ${dafYomi}<br>
                Alos: ${alos}<br>
                Sunrise: ${sunrise}<br>
                Talis: ${talis}<br>
                <h5>End Time for Shema:</h5>
                M"A: ${szsMA}<br>
                Gra: ${szsGra}<br>
                <h5>End Time for Tefila:</h5>
                M"A: ${sztMA}<br>
                Gra: ${sztGra}<br><br>
                Mincha Gedola: ${minchaGedola}<br>
                Mincha Ketana: ${minchaKetana}<br>
                Plag HaMincha: ${plagHamincha}<br>
                Shkia: ${shkia}<br>
                <h5>Tzeis HaKochavim</h5>
                <h6>Degrees</h6>
                595 Degrees: ${degrees595}<br>
                850 Degrees: ${degrees850}<br>
                <h6>Fixed</h6>
                42 Minutes: ${min42}<br>
                72 Minutes: ${min72}<br>

                <h4>Shabbos:</h4>
                This Week's Parsha: ${parsha}<br>
                Candle Lighting for Shabbos: ${shabbosCandleLighting}
            `
            $("#zmanimResults").html(output);
        }


    </script>

</body>
</html>
